* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --ff-primary: sans-serif;
  --fw-reg: 400;
  --fw-med: 600;
  --fw-bold: 800;

  --clr-primary: #232b2f;
  --clr-lgt-primary: #314949;
  --clr-secondary: #4a827b;
  --clr-lgt-sndry: #589d95;
  --clr-pr-txt: #f2fcfb;
  --clr-snd-txt: #fbeef0;
  --clr-accent: #eb717f;
  --clr-bg: #1c2325;
  --border: 1px solid red;
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  background: var(--clr-bg);
}
h1{
  color:var(--clr-accent);
  font-weight: 600;
}
h3{
  color: var(--clr-snd-txt);
  font-weight: 400;
}
h4{
  font-weight: 300;
  font-size: .8rem;
  color: var(--clr-snd-txt);
  padding-bottom: 10px;
}


.tasks-btn:hover,
#invoice-button:hover,
#delete-btn:hover {
  background: var(--clr-lgt-sndry);
  cursor: pointer;
}

.invoice {
  max-width: 550px;
  min-width: 300px;
  width: 90%;
  max-height: 720px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  height: 100%;
  text-align: center;
  margin: 20px auto;
  background: var(--clr-primary);
  border-radius: 20px;
 
}
.invoice__body {
  display: flex;
  flex-direction: column;
  background: var(--clr-lgt-primary);
  border-radius: 10px;
  padding-bottom: 20px;
}

/* header */
.invoice__body_header {
  height: 125px;
  padding-top: 2rem;
  background: var(--clr-secondary);
  border-radius:10px 10px 0 0;
}

/* task options */
.invoice__body_tasks {
  height: 75px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 25px 10px 5px 10px;
 
}
.invoice__body_tasks-button {
  height: 37px;
  width: 26.6%;
  align-self: center;
  border: none;
  border-radius: 5px;
  background: var(--clr-accent);
  color:var(--clr-pr-txt);

}

/* task cart */
.invoice__body_cart {
  display: flex;
  flex-direction: column;
  padding: 20px 35px;
  color:var(--clr-pr-txt);
  border-bottom: 1px solid var(--clr-lgt-sndry);
}
.invoice__body_cart-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
  /* padding: 0 15px; */
}
.list-item,
.list-item p {
  display: flex;
  flex-direction: row;
  list-style: none;
  width: 100%;
  padding-top: 5px;
  

}

#delete-btn {
  height: 1.25rem;
  width: 1.25rem;
  border: none;
  border-radius: 2px;
  margin-right: 8px;
  color:var(--clr-pr-txt);
  background: var(--clr-accent);
}

#service-name {
   width: 75%;
  text-align: start;
  margin-bottom: 5px;

}
#service-price {
  width: 20%;
  align-content: flex-end;
  padding-left: 20px;
}

/* notes and total */
.invoice__body_subtotal {
  display: flex;
  flex-direction: column;
  padding: 20px 35px;
  color: var(--clr-pr-txt);
}
.invoice__body_subtotal-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.ul{
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-between;
}
#notes-el {
  width: 70%;
  font-size: .75rem;
  text-align: start;
  padding-left: 5px;
  color:var(--clr-snd-txt);
}
#total-el {
  width: 15%;
  font-size: 1.25rem;
  font-weight: 600;
  
  /* align-content: flex-end; */
}
#total-el span{
  color: var(--clr-accent);
  font-weight: 400;
}

#invoice-button {
  margin-top: 30px;
  height: 37px;
  width: 90%;
  align-self: center;
  border: none;
  border-radius: 5px;
  background: var(--clr-accent);
  color: var(--clr-pr-txt);
}
